{# @var \BuzzingPixel\Scribble\Services\GetContentFromPath\ContentCollection contentCollection #}
{# @var bool hasHeadingBackground #}

{% if contentCollection %}
    {% for content in contentCollection.all() %}
        {% set layerType = content.getMetaItem('layerType') %}

        {% set payload = {
            content: content,
            hasHeadingBackground: hasHeadingBackground,
        } %}

        {% switch layerType %}
            {% case 'TitleArea' %}
                {% include 'PageBuilder/TitleArea.twig' with payload only %}
            {% case 'SubTitlePageNav' %}
                {% include 'PageBuilder/SubTitlePageNav.twig' with payload only %}
            {% case 'ShowCase' %}
                {% include 'PageBuilder/ShowCase.twig' with payload only %}
            {% case 'CallOut' %}
                {% include 'PageBuilder/CallOut.twig' with payload only %}
            {% case 'InformationalImage' %}
                {% include 'PageBuilder/InformationalImage.twig' with payload only %}
            {% case 'ImageCallOut' %}
                {% include 'PageBuilder/ImageCallOut.twig' with payload only %}
            {% case 'UserFeedbackModules' %}
                {% include 'PageBuilder/UserFeedbackModules.twig' with payload only %}
            {% case 'PrimaryImageTextHalfBlack' %}
                {% include 'PageBuilder/PrimaryImageTextHalfBlack.twig' with payload only %}
            {% case 'Image' %}
                {% include 'PageBuilder/Image.twig' with payload only %}
            {% case 'TextColumns' %}
                {% include 'PageBuilder/TextColumns.twig' with payload only %}
            {% default %}
                {% if getenv('DEV_MODE') == 'true' %}
                    <div style="text-align: center;">
                        <br><br><br>
    <pre>
    =====================================<br>
    TODO: Implement layer type: {{ layerType }}<br>
    =====================================<br>
    </pre>
                        <br><br><br>
                    </div>
                {% endif %}
        {% endswitch %}
    {% endfor %}
{% endif %}
