{# @var \BuzzingPixel\Scribble\Services\GetContentFromPath\ContentCollection contentCollection #}
{# @var bool hasHeadingBackground #}

{% for content in contentCollection.all() %}
    {% set layerType = content.getMetaItem('layerType') %}

    {% set payload = {
        content: content,
        hasHeadingBackground: hasHeadingBackground,
    } %}

    {% switch layerType %}
        {% case 'ShowCase' %}
            {% include 'pageBuilder/ShowCase.twig' with payload only %}
        {% default %}
            {% if getenv('DEV_MODE') == 'true' %}
                <div style="text-align: center;">
                    <br><br><br>
<pre>
=====================================<br>
TODO: Implement layer type: {{ layerType }}<br>
=====================================<br>
</pre>
                    <br><br><br>
                </div>
            {% endif %}
    {% endswitch %}
{% endfor %}
