{# @var \BuzzingPixel\Scribble\Services\GetContentPathCollection\ContentPathCollection collection #}

{% set hasHeadingBackground = false %}

{% set metaTitle = 'News' %}

{% extends '_Layout.twig' %}

{% block content %}
    <div class="StandardPage">
        <div class="StandardPage__Inner">
            <div class="StandardPage__TitleArea">
                {% include 'Components/TitleArea.twig' with {
                    title: 'News',
                    titleSmall: 'for BuzzingPixel',
                    titleActionButtons: [
                        {
                            href: '#TODO-Tmp',
                            content: 'Test Button',
                            style: 'light',
                        },
                        {
                            href: '#TODO-Tmp',
                            content: 'Test Button',
                        },
                    ]
                } %}
                {% include 'Components/BreadCrumbs.twig' with {
                    breadcrumbs: [
                        {
                            href: '#',
                            content: 'Test One',
                        },
                        {
                            href: '#',
                            content: 'Test Two',
                        },
                        {
                            content: 'Test Three',
                        },
                    ]
                } %}
            </div>
            <br><br><br><br><br><br><br><br>
        </div>
    </div>
{% endblock %}
