{# @var \BuzzingPixel\Scribble\Services\GetContentFromFile\Content index #}
{% set index = index ?? null %}
{# @var \BuzzingPixel\Scribble\Services\GetContentFromPath\ContentCollection contentCollection #}
{% set contentCollection = contentCollection ?? null %}

{% set hasHeadingBackground = false %}

{% extends '_Layout.twig' %}

{% if index %}
    {% set noIndex = index.getMetaItem('noIndex') == true %}
    {% set metaTitle = index.getMetaItem('metaTitle') %}
    {% set metaDescription = index.getMetaItem('metaDescription') %}
    {% set headingBackground = index.getMetaItem('headingBackground') %}
    {% set hasHeadingBackground = headingBackground['href'] is defined %}
{% endif %}

{% block content %}
    <div class="StandardPage">
        <div class="StandardPage__Inner">

        {% include 'PageBuilder/_Includer.twig' with {
            contentCollection: contentCollection,
            hasHeadingBackground: hasHeadingBackground
        } only %}

        </div>
    </div>
{% endblock %}
