.ShowCase__Inner {
    padding: 30px;
}

.ShowCase__PreHeadLine {
    font-size: 28px;
}

.ShowCase__Headline {
    font-size: 60px;
}

.ShowCase__SubHeadline {
    font-size: 26px;
}

.ShowCase__CTALink {
    font-size: 24px;
    padding: 18px 28px;
}
