.StandardPage__Content {
    margin: 0 auto;
}

.StandardPage__Content--Max1600 {
    max-width: 1600px;
}

.StandardPage__Sidebar {
    padding: 20px;
}

.StandardPage__SidebarLinks {
    list-style: none;
    margin: 0;
}

.StandardPage__SidebarLinkTag {
    color: var(--Nandor);
    font-weight: var(--PrimaryFontBoldWeight);
    text-decoration: none;
}
