.UserFeedbackModules__Module {
    margin: 20px;
}

.UserFeedbackModules__ModuleInner {
    padding: 40px 24px;
}

.UserFeedbackModules__ModuleHeaderTitle {
    bottom: 74px;
}

.UserFeedbackModules__ModuleHeaderPosition {
    top: 74px;
}
