.CallOut__Inner {
    padding: 40px 30px;
}

.CallOut__ItemTitle {
    font-size: 26px;
    padding: 16px;
}

.CallOut__ItemBodyCtaLink {
    font-size: 20px;
}

.CallOut__ItemBodyBullets {
    margin-left: 38px;
}

.CallOut__ItemBodyBullet:before {
    height: 26px;
    left: -40px;
    top: 4px;
    width: 26px;
}

.CallOut__ItemBodyFooterContent {
    font-size: 16px;
}
