.CallOut__Inner {
    align-items: center;
    display: flex;
    justify-content: center;
    max-width: 1670px;
    padding: 60px 30px;
}

.CallOut__Item--IsPrimaryItem {
    width: 36%;
}

.CallOut__Item--IsLeftItem,
.CallOut__Item--IsRightItem {
    display: block;
    width: 32%;
}
