.SiteNav__List {
    margin: 15px 15px;
}

.SiteNav__ListItem {
    margin-bottom: 18px;
}

.SiteNav__ListItem--IsIconBased {
    width: 40px;
}

.SiteNav__ListItemBadge {
    font-size: 10px;
    padding: 6px;
    left: 40px;
}

.SiteNav__ListItemIcon svg {
    width: 40px;
}

.SiteNav__ListItemIcon--IsLogo svg {
    width: 92px;
}
