.SiteNav__List {
    margin: 16px 16px;
}

.SiteNav__ListItem {
    margin-bottom: 24px;
}

.SiteNav__ListItem--IsIconBased {
    width: 46px;
}

.SiteNav__ListItemBadge {
    left: 46px;
}

.SiteNav__ListItemIcon svg {
    width: 46px;
}

.SiteNav__ListItemIcon--IsLogo svg {
    width: 104px;
}
