<footer class="SiteFooter">
    <div class="SiteFooter__Inner">
        <div class="SiteFooter__Upper">
            &copy; {{ 'now'|date('Y') }} BuzzingPixel, LLC
        </div>
        <div class="SiteFooter__Lower">
            <a href="/cookies" class="SiteFooter__Link">Cookie Policy</a>
            <a href="/privacy" class="SiteFooter__Link">Privacy Policy</a>
            <a href="/terms" class="SiteFooter__Link">Terms of Service</a>
        </div>
    </div>
</footer>
